@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';
@import 'fumadocs-openapi/css/preset.css';

@source '../../../node_modules/fumadocs-ui/dist/**/*.js';

@theme {
  --radius-lg: 0.5rem;
  --radius-md: 0.375rem;
  --radius-sm: 0.25rem;

  --font-sans: var(--font-geist), ui-sans-serif, system-ui, -apple-system, "Segoe UI", sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;

  --color-fd-primary: #84cc16;
  --color-fd-primary-foreground: #1a2e05;
}

.dark {
  --color-fd-primary: #84cc16;
  --color-fd-primary-foreground: #1a2e05;
}
